/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #4c3c32;
    color: #f5f5f5;
}

header {
    background-color:#4c3c32;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #fffcfb;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #7e685b;
}

.hero {
    text-align: center;
    padding: 150px 0;
    background-image: url('../img/coffee2.jpg');
    background-size: cover;
    color: white;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c3c32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #7e685b;
}

.menu {
    padding: 100px 0;
    text-align: center;
    background-color: #7e685b;
}

.menu h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.menu-list {
    display: flex;
    justify-content: center;
    color: #fffafa;
    align-items: center;
    list-style-type: none;
}

.menu-item {
    flex: 1;
    text-align: center;
    margin: 0 10px;
    gap: 10px;
}

.menu-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.middle-item .menu-img {
    width: 500px;
    height: 500px;
}


.about {
    padding: 100px 0;
    text-align: center;
    background-color: #d0a081;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    color: #f3f0f0;
}

.contact {
    padding: 100px 0;
    text-align: center;
    background-color: #4c3c32;
    color: white;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 40px;
}

footer {
    background-color: #4c3c32;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none; 
    display: flex;
    gap: 20px; 
    margin: 0; 
    padding: 0; 
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold; 
}

footer ul li a:hover {
    color: #ffd700; 
}

.footer-content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; 
}


.footer-section {
    flex: 1;
    min-width: 200px;
}

.social-media a img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-media a img:hover {
    transform: scale(1.2); /
}

.featured-products {
    text-align: center;
    margin: 40px 0;
}

.featured-products h2 {
    font-size: 2rem;
    color: #f3f0f0;
    margin-bottom: 20px;
}

.featured-products div {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.featured-products img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.featured-products img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.featured-products p {
    margin-top: 10px;
    font-size: 1rem;
    color: #fff8f8;
}
